<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>

    <!-- Header -->
  {{> header }}

  {{> navbar }}
    <!-- Nav -->

    <!-- Banner -->
    {{> banner }}
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->


    <!-- One -->
    {{> one }}

    <!-- Two -->
    {{> two }}

    <!-- Three -->
    {{> three }}

    <!-- Four -->
    {{> four }}
    <!-- Footer -->
    {{> footer }}

  </body>
</html>